.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 8px;
  border-radius: 3px;
  background-color: rgb(245, 245, 245);
  margin-bottom: 12px;
}

.detail {
  background-color: #2a2929;
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 3px;
  font-weight: 300;
  max-height: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tag {
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  padding: 3px 10px;
  font-size: 10px;
  font-weight: 400;
  color: #2a2929;
}

.TODO {
  background-color: #ffc107;
}

.DOING {
  background-color: #0c78ea;
}

.DONE {
  background-color: #26c249;
}

.delete {
  background-color: #ff4d4f;
}
