.hdContainer {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 30px 30px;
  padding: 25px;
  background-image: linear-gradient(
    to right top,
    #bebebe,
    #c7c7c7,
    #d1d1d1,
    #dadada,
    #e4e4e4
  );
}
