.laneContainer {
  padding: 10px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 5px;
  background-color: rgb(246, 243, 243);
  display: flex;
  flex-direction: column;
}

.cardContainer {
}

.laneTitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 12px;
}

.lane {
  background-color: rgb(222, 222, 222);
}
