.loginContainer {
  position: fixed;
  top: 15px;
  right: 0;
  padding: 10px 10px 10px 20px;
  background-color: #1890ff;
  border-radius: 20px 0px 0px 20px;
  min-width: 100px;
  max-width: 200px;
  color: white;
  cursor: pointer;
}
