.wsContainer {
  margin-top: 17px;
  min-width: 760px;
  min-height: 82vh;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right top, #bebebe, #c7c7c7, #d1d1d1, #dadada, #e4e4e4);
}
