.wsContainer {
  flex: 1;
  margin-top: 25px;
  min-width: 760px;
  border-radius: 25px;
  padding: 25px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  background-image: linear-gradient(
    to right top,
    #bebebe,
    #c7c7c7,
    #d1d1d1,
    #dadada,
    #e4e4e4
  );
}
